### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Globals

In [2]:
data_filepath = '../../original_data/'
density_report_filepath = data_filepath + 'DensityReports.xlsx'
historical_incidents_filepath = data_filepath + 'HistoricalIncidents.xlsx'
product_attributes_filepath = data_filepath + 'ProductAttributes.xlsx'
supplier_scorecard_filepath = data_filepath + 'SupplierScorecard.xlsx'

### Load Data

In [4]:
supplier_scorecard = pd.read_excel(supplier_scorecard_filepath)

## Initial Inspection

In [5]:
supplier_scorecard.head()

,SupplierName,Month,PackagesHandled,BadPackagingRate (%),TotalIncidents,AverageCostPerIncident (€),OnTimeDeliveryRate (%),AnomaliesDetected
0,SupplierA,2023-01,7841,8.46,133,538.23,86.01,23
1,SupplierA,2023-02,7196,7.78,153,572.14,88.09,16
2,SupplierA,2023-03,7842,7.94,163,547.51,84.74,21
3,SupplierA,2023-04,7587,7.70,158,588.33,91.58,18
4,SupplierA,2023-05,8010,7.77,166,618.34,96.87,18

In [6]:
supplier_scorecard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SupplierName                252 non-null    object
 1   Month                       252 non-null    object
 2   PackagesHandled             252 non-null    int64
 3   BadPackagingRate (%)        252 non-null    float64
 4   TotalIncidents              252 non-null    int64
 5   AverageCostPerIncident (€)  252 non-null    float64
 6   OnTimeDeliveryRate (%)      252 non-null    float64
 7   AnomaliesDetected           252 non-null    int64
dtypes: float64(3), int64(3), object(2)
memory usage: 15.9+ KB

In [7]:
supplier_scorecard.describe(include='all')

,SupplierName,Month,PackagesHandled,BadPackagingRate (%),TotalIncidents,AverageCostPerIncident (€),OnTimeDeliveryRate (%),AnomaliesDetected
count,252,252,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
unique,14,18,NaN,NaN,NaN,NaN,NaN,NaN
top,SupplierA,2023-01,NaN,NaN,NaN,NaN,NaN,NaN
freq,18,14,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1984.126984,23.047540,70.436508,552.654524,75.397857,11.698413
std,NaN,NaN,2382.575890,9.242888,71.666892,215.370064,8.923621,12.036644
min,NaN,NaN,66.000000,7.290000,0.000000,0.000000,60.000000,0.000000
25%,NaN,NaN,95.000000,16.652500,3.000000,483.457500,68.837500,1.000000
50%,NaN,NaN,1097.000000,21.000000,46.000000,544.090000,76.395000,8.500000
75%,NaN,NaN,2963.750000,27.510000,149.250000,611.607500,81.950000,20.250000
max,NaN,NaN,8019.000000,45.850000,210.000000,1969.000000,96.870000,43.000000

In [8]:
supplier_scorecard.dtypes

SupplierName                   object
Month                          object
PackagesHandled                 int64
BadPackagingRate (%)          float64
TotalIncidents                  int64
AverageCostPerIncident (€)    float64
OnTimeDeliveryRate (%)        float64
AnomaliesDetected               int64
dtype: object

In [9]:
supplier_scorecard.isnull().sum()

SupplierName                  0
Month                         0
PackagesHandled               0
BadPackagingRate (%)          0
TotalIncidents                0
AverageCostPerIncident (€)    0
OnTimeDeliveryRate (%)        0
AnomaliesDetected             0
dtype: int64

In [10]:
supplier_scorecard.duplicated().sum()

0